<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgcastle.mapper.InsertMemberMapper">

    <resultMap id="memberResultMap" type="com.hgcastle.dto.MemberDTO">
        <id property="no" column="member_no"/>
        <result property="id" column="member_id"/>
        <result property="password" column="member_password"/>
        <result property="name" column="member_name"/>
        <result property="nickname" column="member_nickname"/>
        <result property="hobby" column="member_hobby"/>
        <result property="phone" column="member_phone"/>
        <result property="email" column="member_email"/>
        <result property="rrn" column="member_rrn"/>
        <result property="address" column="member_address"/>
        <result property="entDate" column="member_entDate"/>
        <result property="warnCount" column="member_warnCount"/>
        <result property="banDate" column="member_banDate"/>
        <result property="quitDate" column="member_quitDate"/>
    </resultMap>

    <select id="selectAllMember" resultMap="memberResultMap">
        select *
        from tbl_member
        order by member_no
    </select>

    <insert id="insertMember" parameterType="com.hgcastle.dto.MemberDTO">
        insert into tbl_member(
        member_id,
        member_password,
        member_name,
        member_nickname,
        member_hobby,
        member_phone,
        member_email,
        member_rrn,
        member_address,
        member_entDate
        ) values (
        #{id},
        #{password},
        #{name},
        #{nickname},
        #{hobby},
        #{phone},
        #{email},
        #{rrn},
        #{address},
        #{entDate}
        )
    </insert>

</mapper>